In [1]:
8178

8178

In [1]:
a= 23
b =3.111
c = "hello"
d =True
e = None

In [5]:
fruits = ["apple" , "banana" , "cherry"]
coords = (3, 3, 2)
items = {12, 5, 2, 12, 13}
person = {"name":"John" , "age": 36, "country": "Norway"}

In [6]:
a = [2,5,6,12,11,21,22,51]

In [7]:
11 in a

True